## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Creating a reference for the skill requirements

In [2]:
web = set([i.strip() for i in 'HTML, CSS, Bootstrap, AJAX, JavaScript, PHP, MySQL, REST API, Deployment, Git, Python, Linux, JSON, JWT'.split(',')])

In [3]:
full = set([i.strip() for i in 'HTML, CSS, MongoDB, Express, ReactJS, Node.js, ES6, Redux, JavaScript, Deployment, Python, Linux, JSON, JWT'.split(',')])

In [4]:
ml = set([i.strip() for i in 'Python, TensorFlow, PyTorch, NumPy, PyPI, Sci-kit learn, Statistical Modelling, Machine Learning, Deep Learning, SQL, JSON, Deployment, Flask'.split(',')])

## Importing the Dataset

In [5]:
df=pd.read_excel('sample_data_v4.xlsx')
df

,Application ID,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,MS0001,Pune,"Machine Learning, Python",Don Bosco Institute of Technology,Bachelor of Engineering (B.E),Mechanical Engineering,2018,NaN,8.13/10,NaN,NaN
1,MS0002,Pune,"Machine Learning, Python","PES MCOE, Pune",Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2018,NaN,66.00/100,NaN,NaN
2,MS0003,Navi Mumbai,"Data Analytics, Data Science, Machine Learning...",Imarticus Learning,PG Diploma in Data Science,NaN,2020,NaN,7.00/10,NaN,NaN
3,MS0004,Bangalore,"Data Analytics, Algorithms, C Programming, Dat...",Dayananda Sagar Institutions,Bachelor of Technology (B.Tech),Information Technology,2022,NaN,NaN,86.80/86.80,10.00/10.00
4,MS0005,Mumbai,"Artifical Intelligence, Computer Vision, Deep ...",Pillai Hoc College Of Engineering And Technolo...,Bachelor of Engineering (B.E),Information Technology,2020,NaN,6.22/10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2163,MS2164,Hyderabad,"Database Management System (DBMS), HTML, Pytho...","KIIT University, Bhubaneshwar",Bachelor of Technology (B.Tech),Computer Science & Engineering,2020,NaN,75.00/100,NaN,NaN
2164,MS2165,Bangalore,"CSS, Cloud Computing, HTML, PHP, Python, Andro...",L. N. C . T. Jabalpur,Master of Computer Applications (MCA),Computer Application,2020,7.78/10,6.80/10,NaN,NaN
2165,MS2166,Nagpur,"CSS, HTML, JavaScript, Python",Vellore Institute of Technology,Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2020,NaN,6.10/10,62.62/62.62,NaN
2166,MS2167,Kanpur,"Android, C Programming, C++ Programming, Pytho...",Kakatiya Institute of Technology and Science,Bachelor of Technology (B.Tech),Computer Science & Engineering,2020,NaN,6.50/10,62.50/62.50,76.50/76.50
2167,MS2168,Durgapur,"C Programming, C++ Programming, JavaScript, CS...",National Institute Of Electronics & Informatio...,Master of Computer Applications (MCA),Computer Application,2020,6.40/10,63.06/100,64.00/64.00,64.60/64.60

## Editing for deployment and git

In [6]:
for x in range(0,5):
    for i in df['Other skills']:
        if type(i)==str:
            if 'Amazon Web Server (AWS)' in i:
                tx = i.replace('Amazon Web Server (AWS)', 'Deployment')
                df.replace(i, tx, inplace=True)
            if 'Amazon Web Services (AWS)' in i:
                tx = i.replace('Amazon Web Services (AWS)', 'Deployment')
                df.replace(i, tx, inplace=True)
            if 'Google Cloud Computing' in i:
                tx = i.replace('Google Cloud Computing', 'Deployment')
                df.replace(i, tx, inplace=True)
            if 'Heroku' in i:
                tx = i.replace('Heroku', 'Deployment')
                df.replace(i, tx, inplace=True)
            if 'Git SVN' in i:
                tx = i.replace('Git SVN', 'Git')
                df.replace(i, tx, inplace=True)
            if 'GitHub' in i:
                tx = i.replace('GitHub', 'Git')
                df.replace(i, tx, inplace=True)

## Main Process of selection of candidate

In [7]:
l2=[]
n2=[]
aw,af,am=[],[],[]
for x in range(0,len(df['Other skills'])):
    i= df['Other skills'].iloc[x]
    if type(i)==str:
        k=set([l.strip() for l in i.split(',')])
        w1,f1,m1=len(k&web), len(k&full), len(k&ml)
        if (w1/len(web)) > 0.7:
            if(len(aw)==0):
                aw.extend([x, len(k), w1/len(web)])
                l2.append('Web Developer')
                n2.append('NA')
            else:
                if len(k)>aw[1]:
                    l2[aw[0]]='NA'
                    s=''
                    for d in web:
                        if d not in k:
                            s = s+d+','
                    n2[aw[0]]=s
                    aw[0],aw[1],aw[2]=x,len(k),w1/len(web)
                    l2.append('Web Developer')
                    n2.append('NA')
                else:
                    l2.append('NA')
                    s=''
                    for d in web:
                        if d not in k:
                            s = s+d+','
                    n2.append(s)
                    
        elif (f1/len(full)) > 0.55:
            if(len(af)==0):
                af.extend([x, len(k), f1/len(full)])
                l2.append('FullStack Developer')
                n2.append('NA')
            else:
                if len(k)>af[1]:
                    l2[af[0]]='NA'
                    s=''
                    for d in full:
                        if d not in k:
                            s = s+d+','
                    n2[af[0]]=s
                    af[0],af[1],af[2]=x,len(k),f1/len(full)
                    l2.append('FullStack Developer')
                    n2.append('NA')
                else:
                    l2.append('NA')
                    s=''
                    for d in full:
                        if d not in k:
                            s = s+d+','
                    n2.append(s)
                    
                    
        elif (m1/len(ml)) > 0.5:
            am.extend([x,len(k), m1/len(ml)])
            l2.append('ML Developer')
            n2.append('NA')
            
            
        else:
            l2.append('NA')
            s=''
            if max(w1,f1,m1)==w1:
                for d in web:
                    if d not in k:
                        s = s+d+','    
            elif max(w1,f1,m1)==f1:
                for d in full:
                    if d not in k:
                        s = s+d+','
            elif max(w1,f1,m1)==m1:
                for d in ml:
                    if d not in k:
                        s = s+d+','
            n2.append(s)
    else:
        l2.append('NA')
        n2.append('NA')

df['Selected for']=l2
df['Lacking Skills']=n2

In [8]:
print(aw,'\n',af,'\n',am)

[47, 48, 0.7857142857142857]
 [371, 35, 0.5714285714285714]
 [178, 24, 0.5384615384615384]

In [9]:
df

,Application ID,Current City,Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,Selected for,Lacking Skills
0,MS0001,Pune,"Machine Learning, Python",Don Bosco Institute of Technology,Bachelor of Engineering (B.E),Mechanical Engineering,2018,NaN,8.13/10,NaN,NaN,NA,"Flask,SQL,PyPI,Statistical Modelling,Deep Lear..."
1,MS0002,Pune,"Machine Learning, Python","PES MCOE, Pune",Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2018,NaN,66.00/100,NaN,NaN,NA,"Flask,SQL,PyPI,Statistical Modelling,Deep Lear..."
2,MS0003,Navi Mumbai,"Data Analytics, Data Science, Machine Learning...",Imarticus Learning,PG Diploma in Data Science,NaN,2020,NaN,7.00/10,NaN,NaN,NA,"Flask,SQL,PyPI,Statistical Modelling,Deep Lear..."
3,MS0004,Bangalore,"Data Analytics, Algorithms, C Programming, Dat...",Dayananda Sagar Institutions,Bachelor of Technology (B.Tech),Information Technology,2022,NaN,NaN,86.80/86.80,10.00/10.00,NA,"Flask,PyPI,Statistical Modelling,Deployment,JS..."
4,MS0005,Mumbai,"Artifical Intelligence, Computer Vision, Deep ...",Pillai Hoc College Of Engineering And Technolo...,Bachelor of Engineering (B.E),Information Technology,2020,NaN,6.22/10,NaN,NaN,NA,"Flask,PyPI,Statistical Modelling,JSON,NumPy,Py..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,MS2164,Hyderabad,"Database Management System (DBMS), HTML, Pytho...","KIIT University, Bhubaneshwar",Bachelor of Technology (B.Tech),Computer Science & Engineering,2020,NaN,75.00/100,NaN,NaN,NA,"JavaScript,JWT,Bootstrap,PHP,AJAX,REST API,Dep..."
2164,MS2165,Bangalore,"CSS, Cloud Computing, HTML, PHP, Python, Andro...",L. N. C . T. Jabalpur,Master of Computer Applications (MCA),Computer Application,2020,7.78/10,6.80/10,NaN,NaN,NA,"JWT,Bootstrap,AJAX,REST API,Deployment,Git,JSO..."
2165,MS2166,Nagpur,"CSS, HTML, JavaScript, Python",Vellore Institute of Technology,Bachelor of Engineering (B.E),Electronics and Telecommunication Engineering ...,2020,NaN,6.10/10,62.62/62.62,NaN,NA,"JWT,Bootstrap,PHP,AJAX,REST API,Deployment,Git..."
2166,MS2167,Kanpur,"Android, C Programming, C++ Programming, Pytho...",Kakatiya Institute of Technology and Science,Bachelor of Technology (B.Tech),Computer Science & Engineering,2020,NaN,6.50/10,62.50/62.50,76.50/76.50,NA,"JavaScript,JWT,Bootstrap,PHP,AJAX,HTML,REST AP..."
2167,MS2168,Durgapur,"C Programming, C++ Programming, JavaScript, CS...",National Institute Of Electronics & Informatio...,Master of Computer Applications (MCA),Computer Application,2020,6.40/10,63.06/100,64.00/64.00,64.60/64.60,NA,"JWT,Bootstrap,AJAX,REST API,Deployment,Git,JSO..."

## User input

In [10]:
print('The choices for a role to work as an intern are as follows:\n')
print('1. Web Developer\n')
print('2. FullStack Developer\n')
print('3. Machine Learning Developer\n')
role = input("Enter your desired role : ")
print("\nNOTE : Please try to mention as many skills as possible which match the skills given by you in the application for this internship for correct display of results...\n ")
skills = input("Enter your skills : ")
skill_set = list([i.strip() for i in skills.split(',')])

The choices for a role to work as an intern are as follows:

1. Web Developer

2. FullStack Developer

3. Machine Learning Developer

Enter your desired role : FullStack Developer

NOTE : Please try to mention as many skills as possible which match the skills given by you in the application for this internship for correct display of results...

Enter your skills : AJAX, CSS, HTML, Bootstrap, C Programming, C++ Programming, JavaScript, Machine Learning, Node.js, Python, ReactJS, Redux

## Normalisation of the skillset provided by user

In [11]:
for i in range(len(skill_set)):
    if skill_set[i]=='Amazon Web Server (AWS)' or skill_set[i]=='Amazon Web Serices (AWS)' or skill_set[i]=='Google Cloud Computing' or skill_set[i]=='Heroku' or skill_set[i]=='AWS' or skill_set[i]=='GCP':
        skill_set[i]='Deployment'
    elif skill_set[i]=='Git SVN' or skill_set[i]=='GitHub':
        skill_set[i]= 'Git'
skill_set=set(skill_set)

In [12]:
skill_set

{'AJAX',
 'Bootstrap',
 'C Programming',
 'C++ Programming',
 'CSS',
 'HTML',
 'JavaScript',
 'Machine Learning',
 'Node.js',
 'Python',
 'ReactJS',
 'Redux'}

##  Processing the user input and display of output

In [13]:
if len(skill_set)>0:
    if role == 'Web Developer':
        w2=len(skill_set&web)
        if(w2/len(web))>=aw[2]:
            if len(skill_set)>=aw[1]:
                print('You are selected\n')
            else:
                print('You are not selected for your desired role. Thank you for your effort and keep working hard\n')
                s=''
                for d in web:
                    if d not in skill_set:
                        s = s+d+','
                if 'Deployment' in s:
                    s=s.replace('Deployment', 'AWS/GCP')
                print('Skill gap : ',s[:-1])
        else:
            print('You are not selected for your desired role. Thank you for your effort and keep working hard\n')
            s=''
            for d in web:
                if d not in skill_set:
                    s = s+d+','
            if 'Deployment' in s:
                    s=s.replace('Deployment', 'AWS/GCP')
            print('Skill gap : ',s[:-1])
            
    elif role == 'FullStack Developer':
        f2=len(skill_set&full)
        if(f2/len(full))>=af[2]:
            if len(skill_set)>=af[1]:
                print('You are selected\n')
            else:
                print('You are not selected for your desired role. Thank you for your effort and keep working hard\n')
                s=''
                for d in full:
                    if d not in skill_set:
                        s = s+d+','
                if 'Deployment' in s:
                    s=s.replace('Deployment', 'AWS/GCP')
                print('Skill gap : ',s[:-1])
        else:
            print('You are not selected for your desired role. Thank you for your effort and keep working hard\n')
            s=''
            for d in full:
                if d not in skill_set:
                    s = s+d+','
            if 'Deployment' in s:
                    s=s.replace('Deployment', 'AWS/GCP')
            print('Skill gap : ',s[:-1])
    elif role == 'ML Developer':
        m2=len(skill_set&ml)
        if(m2/len(full))>=am[2]:
            if len(skill_set)>=am[1]:
                print('You are selected\n')
            else:
                print('You are not selected for your desired role. Thank you for your effort and keep working hard\n')
                s=''
                for d in ml:
                    if d not in skill_set:
                        s = s+d+','
                if 'Deployment' in s:
                    s=s.replace('Deployment', 'AWS/GCP/Heroku')
                print('Skill gap : ',s[:-1])
        else:
            print('You are not selected for your desired role. Thank you for your effort and keep working hard\n')
            s=''
            for d in ml:
                if d not in skill_set:
                    s = s+d+','
            if 'Deployment' in s:
                    s=s.replace('Deployment', 'AWS/GCP/Heroku')
            print('Skill gap : ',s[:-1])

You are not selected for your desired role. Thank you for your effort and keep working hard

Skill gap :  JWT,ES6,Express,AWS/GCP,JSON,Linux,MongoDB